
body { font: 12px Arial;}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


.axis {
  font: 12px sans-serif;
}


.x.axis path {
  display: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 53%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50px;
}

path {
  stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 145px;
  height: 12px;
  padding: 8px;
  margin-top: -20px;
  font: 12px sans-serif;
  background: rgba(165,42,42, 1.0);
  color: #fff;
  pointer-events: none;
  border-radius: 2px;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
