name: llnl-scraper

on:
  pull_request: []

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - pypy3.6
          - pypy3.7
          - pypy3.8
          - pypy3.9
        include:
          - os: ubuntu-20.04
            python-version: "3.6"
    name: Python ${{ matrix.python-version }} Tests
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name:  Python Tests
        run: |
          conda create --quiet --name test pytest
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate test
          pip install bandit black isort flake8
          pip install .
          npm install -g markdownlint-cli@0.23.2
          make test
          scraper -h
